* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font-size: 26px;
    --primary-font-color: #ffff;
    --heading-text-size: 20px;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090C12;
    font-family: sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/gems.jpg);
    width: 90%; 
    height: 90%;
    position: relative;
}

.blur-effect{
    width: 50%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.2), rgba(255,255,255,.5));
    display: flex;
    position: absolute;
    left: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.blur-effect .left {
    flex: 1;
    border: 1px solid transparent;
    border-right-color: rgba(255, 255, 255, 0.2);
}

.blur-effect .middle {
    flex: 2;
    border: 1px solid transparent;
    border-right-color: rgba(255, 255, 255, 0.2);
}

.blur-effect .right {
    flex: 2;
    border: 1px solid transparent;
    border-right-color: rgba(255, 255, 255, 0.2);
    /* -webkit-filter: blur(8px); */
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.logo > img {
    width: 50px;
    height: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: var(--header-font-size);
    color: var(--primary-font-color);
}

.header-items {
    width: 33%;
}

.header-items > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}

.content {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    color: white;
    gap: 30px;
    padding-top: 6%;
}

.content-heading {
    font-size: var(--heading-text-size);
}

.content-heading :last-child {
    background: linear-gradient(to right, #F3C365 0%, #7b11d8 30%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.content-para {
    font-size: 12px;
}

.trading-btn > button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #F3C365 0%, #7b11d8 100%);
    color: #ffff;
    border: none;
    border-radius: 50px;
    width: 16%;
    height: 40px;
}

.trading-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
}

.social-status {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.social-status p {
    background: linear-gradient(to right, #F3C365 50%, #7b11d8 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.scroll-down {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vl {
    border-left: 1px solid white;
    height: 42px;
    position: absolute;
    top: 100%;
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scroll-down span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
}

.scroll-down :last-child {
    background: linear-gradient(to right, #F3C365 50%, #7b11d8 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}